language: rust
rust:
  - 1.43.0
  - stable
  - nightly
sudo: false
env:
  global:
    - RUST_BACKTRACE=1
    - CARGO_INCREMENTAL=0
script:
  - cargo test --all --verbose
  - cargo build --verbose
notifications:
  email:
    on_success: never